<launch>
	<arg name="n" default="1"/>
    <arg name="ouster_ip" default="169.254.36.131"/>
	<arg name="namespace" value="$(eval 'nesfr3/' + str(arg('n')))"/>
    <include file="$(find nesfr3_bringup)/launch/nesfr3_remote_basic.launch" />
    <include file="$(find ouster_ros)/ouster.launch">
      <arg name="sensor_hostname" value="os-992018000402.local" />
      <arg name="udp_dest" value="$(arg ouster_ip)" />
      <arg name="lidar_mode" value="512x20" />
      <arg name="tf_prefix" value="nesfr3/1/" />
    </include>

	<group ns="$(arg namespace)">

		<!-- this is for the lua file, might cause a race condition	 -->
	 	<env name="robot_index" value="$(arg n)"/>
	 	<node name="cartographer_node" pkg="cartographer_ros"
			type="cartographer_node" args="
			-configuration_directory $(find nesfr3_bringup)/config
			-configuration_basename ouster_2d.lua">
			
			<remap from="odom" to="wheel_odom" />
			<remap from="imu" to="lidar/imu" />
			<remap from="points2" to="lidar/points" />
		</node>
		<node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
			type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
	</group>
    <node name="odom_publisher" pkg="nesfr3_bringup" type="odom_publisher.py" respawn="true" />
</launch>
